{# templates/site/home.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div>{{ error}}</div>
    {% else %}
       <h1> Yo {{ user.email }}
    {% endif %}

{% endblock %}