{# templates/demand/demand.html.twig #}
{% extends 'base.html.twig' %}


{# 
vars passed by controller : 
    id : demand id
    title
    text
#}

{% block body %}
    
    {% if id == 0 %}
        <h3>Nouvelle demande</h3>
    {% else %}
        <h3>Modification de la demande</h3>
    {% endif %}    
    <form action="{{ path('edit_demand', {'id' : id}) }}" method="POST" enctype="multipart/form-data">
         Titre : <input type='text' name='title'  value='{{ title }}'>
         <p>
             Texte : <textarea rows=5 name="text" >{{text}}</textarea>
        <p>
             Photo : <input type="file" name="photo">
        <p>     
            <button
                type="submit"
                name="submit"
                value='submit'
            >Enregistrer</button>
    </form>
{% endblock %}
     
     