{# templates/demand/my_demands.html.twig #}
{% extends 'base.html.twig' %}

{# 
vars passed by controller : 
    demands : array of demand entities
#}

{% block body %}
<h1>Mes demandes </h1>

<table>
{% for demand in demands %}
    <tr>
        <td>{{ demand.title}}</td>
        <td>{{ demand.date_created|date("le d/m/Y") }}</td>
        <td> <a href={{ app.request.baseUrl}}/demand/show/{{ demand.id }}>Voir la demande</a>
    </tr>
{% endfor %}
</table> 

{% endblock %}