{# empty Twig template #}
 <form action="{{ path('test_plain_form') }}" method="POST">
     Age : <input type='text' name='age'>
     <p>
        <button
            type="submit"
            name="submit"
            value='submit'
        >Enregistrer</button>
</form>